body
{
    
    text-align: center;
    font-family: Calibri;
    font-weight: 700;
    background-image: url("backg.jpg");

}
 h1
{
     background-color: black;
     color: lightgrey;
}
 body
 {
     color:lightgrey;
 }
 p2
 {
     font-size: x-small;
     text-align: left;
 }

 